# Own directories

MasterUAB/bin/Intermediate/
MasterUAB/bin/VideogameTest/
MasterUAB/bin/lib/
MasterUAB/ipch/
MasterUAB/VideogameTest/debug32

# Other files
*.pdb
*.log
*.tlog
*.sdf

# Own libraries
MasterUAB/3rdParty/boost_1_34_0/
MasterUAB/3rdParty/PhysX/
MasterUAB/3rdParty/iconv-1.9.2.win32/
MasterUAB/3rdParty/libxml2-2.7.2.win32
MasterUAB/3rdParty/cal3d-0.11rc2/src/cal3d/Debug
MasterUAB/3rdParty/cal3d-0.11rc2/src/cal3d/Release
# Executables
*.exe

# Compiled Object files
*.obj

# Images
*.jpg
*.png


