# Own directories

MasterUAB/bin/Intermediate/
MasterUAB/bin/lib/

MasterUAB/bin/Game/*
!MasterUAB/bin/Game/Data
MasterUAB/bin/Game/Data/*
!MasterUAB/bin/Game/Data/Scripting
!MasterUAB/bin/Game/Data/Effects/*.fx
!MasterUAB/bin/Game/Data/basic_scene_renderer_commands.xml
!MasterUAB/bin/Game/Data/scene_renderer_commands.xml
!MasterUAB/bin/Game/Data/renderable_objects_techniques.xml
!MasterUAB/bin/Game/Data/input.xml
!MasterUAB/bin/Game/Data/effects.xml
!MasterUAB/bin/Game/Data/effects_materials.xml
!MasterUAB/bin/Game/Data/cameras.xml
!MasterUAB/bin/Game/Data/start_screen_camera.xml

!MasterUAB/bin/Game/Data/gui_start_screen.xml
!MasterUAB/bin/Game/Data/gui_in_game.xml
!MasterUAB/bin/Game/Data/gui_materials.xml

MasterUAB/ipch/
MasterUAB/Game/debug32

# Other files
*.pdb
*.log
*.tlog
*.sdf

# Own libraries
MasterUAB/3rdParty/DirectXTK/
MasterUAB/3rdParty/boost_1_34_0/
MasterUAB/3rdParty/PhysX/
MasterUAB/3rdParty/iconv-1.9.2.win32/
MasterUAB/3rdParty/libxml2-2.7.2.win32
MasterUAB/3rdParty/cal3d-0.11rc2/src/cal3d/Debug
MasterUAB/3rdParty/cal3d-0.11rc2/src/cal3d/Release
MasterUAB/3rdParty/AntTweakBar/debug32/
MasterUAB/3rdParty/AntTweakBar/release32/
MasterUAB/3rdParty/AntTweakBar/debug64/
MasterUAB/3rdParty/AntTweakBar/release64/
MasterUAB/3rdParty/WWise/Win32_vc120

# Executables
*.exe

# Last resource editor state
*.aps

# Compiled Object files
*.obj

# Images
*.jpg
*.png


